# --- Flutter ---
flutter/aquatrade_app/.dart_tool/
flutter/aquatrade_app/.packages
flutter/aquatrade_app/.pub-cache/
flutter/aquatrade_app/build/
flutter/aquatrade_app/.flutter-plugins
flutter/aquatrade_app/.flutter-plugins-dependencies
flutter/aquatrade_app/linux/flutter/ephemeral/
flutter/aquatrade_app/windows/flutter/ephemeral/

# --- Java / Spring Boot ---
core-backend/target/
core-backend/.metadata/
core-backend/.settings/
core-backend/bin/
core-backend/*.class
core-backend/.project
core-backend/.factorypath
core-backend/.classpath

# --- IDEs & System ---
.idea/
.vscode/
*.iml
*.swp
.DS_Store
Thumbs.db
*.log

# --- Local Databases ---
*.db
*.db-journal
*.sqlite
